*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
}

header a,
.jumbotron a,
footer a{
    color: inherit;
    text-decoration: none;
}



/* COMMON */
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.align-items-start{
    align-items: flex-start;
}

.direction-col{
    flex-direction: column;
}

.flex-end{
    justify-content: flex-end;
}


.wrapper-big{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper{
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}


.btn{
    padding: .5em 1.1em;
    border: none;
}

.sfondo-blu{
    color: white;
    background-color: blue;
}

.sfondo-bianco{
    background-color: white;
    border: 1px solid black;
}


.payment-plan .row .col,
.business .row .col{
    width: calc(90% / 3);
}


hr{
    width: 70px;
    color: gray;
    margin: 1.5em 0;
}


.invert-color{
    filter: invert(1);
}


   /* colori sfondo delle card in designit*/
.sfondo-col-1{
    background-color: #82A97C;
}

.sfondo-col-2{
    background-color: #4E0622;
}

.sfondo-col-3{
    background-color: #0076A5;
}

.sfondo-col-4{
    background-color: #CC1616;
}

.sfondo-col-5{
    background-color: #AA0019;
}

.sfondo-col-6{
    background-color: #90A6B9;
}

.sfondo-col-7{
    background-color: #0A1D67;
}

.sfondo-col-8{
    background-color: #CEB33B;
}




/* HEADER */
header{
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: white;
}

header nav{
    padding: 1em;
    height: 100%;
}

header ul {
    height: 100%;
}

header ul li {
    margin: 0 .5em;
}

header #special-item{
    min-width: 75px;
}
/*  / HEADER */



/* MAIN */
section{
    padding: 4em 0;
}

section h2,
section h3{
    margin: .5em 0;
}

section h1{
    margin-bottom: 1.25em;
    font-size: 2rem;
}

section div{
    margin: .5em 0;
}

section button{
    margin: 1em 0;
}



    /* JUMBOTRON PART */
section.jumbotron{
    padding: 160px 0 1em;
    background-color: #7cd3e2;
}

.jumbotron h1{
    margin-bottom: 1em;
    font-size: 4rem;
}

.jumbotron .item-sx{
    width: 30%;
}

.jumbotron .item-dx{
    width: 70%;
}

#down-arrow{
    font-size: 3rem;
}
    /* FINE JUMBOTRON PART */



    /* payment plan */
.payment-plan .col{
    border: 1.5px solid gray;
}

.payment-plan .col-head{
    padding: 1em;
    border-bottom: 1.5px solid gray;
    text-align: center;
}

.payment-plan .col-body{
    padding: 0 1em;
}

.payment-plan .col-body .trattino{
    width: 50px;
    height: 50px;
    border-bottom: 1px solid grey;
    margin-bottom: 50px;
}

.payment-plan .col-body .cell{
    min-width: 33%;
}

.payment-plan .row:last-child{
    border: 1.5px solid gray;
}

.payment-plan .row:first-child{
    margin-bottom: 3em;
}
    /* payment plan */
    


    /* PARTNER PART */
.partner .row .col:first-child{
    width: 60%;
}

.partner .row .col:last-child{
    width: 40%;
    padding: 3em 1em;
}
    /*  /partner part */



    /* BUSINESS PART */
    /*  /business part*/



    /* sezione 5 */
.sez-5 .wrapper > div{
    max-width: 60%;
}
    /* / sez 5 */


    /* DESIGNIT PART */
section.designit{
    padding: 0;
} 

.designit div{
    margin: 0;
}

.designit .row{
    min-height: 180px;
}

.designit .row .col{
    width: calc(100% / 3);
}

.designit .cell{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.designit .col img{
    max-width: 60%;
}

.designit .col-centrale{
    background-color: #d5d8e2;
    padding: 1.8em;
}

#bordo-special{
    border: 10px solid #c8e6c4;
}
    /* / DESIGNIT PART */



    /* FREE-TRIAL PART */
section.free-trial{
    background-color: #AABECF;
}

.free-trial h1{
    margin: 0;
    color: #770B35;
    max-width: 50%;
}

.free-trial button{
    max-width: 30%;
}
    /* / FREE-TRIAL PART */



    /* FREQUENT QUESTIONS */
    
.frequent-questions .row{
    border-top: 1px solid gray;
    padding: 1.5em 0;
    margin: 0;
    font-weight: bolder;
}

.frequent-questions .row:last-child{
    border-bottom: 1px solid gray;
}
    /*  / FREQUENT QUESTIONS */



/* FOOTER */
footer{
    background-color: black;
    min-height: 500px;
    padding: 2em 0;
    color: white;
}

footer .row .col{
    width: calc(100% / 5);
    padding: 2em 0;
    margin-bottom: 1em;
}

footer h2{
    margin-bottom: 1em;
}

footer li{
    margin-bottom: .5em;
}

footer .wrapper-big > div:last-child{
    margin-top: 2em;
}

footer div span{
    margin: 0 .4em;
}
/*  / FOOTER */